@import "../../../styles/mixins.module.scss";

.QuestionAnswer {
  .formGroup {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: #714d3d;
      font-weight: 500;
      font-size: 15px;
    }

    select,
    textarea,
    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    textarea {
      height: 200px;
      width: 100%;
    }
  }

  .ragCollection {
    select {
      width: 25%;
      margin-top: 10px;
    }
  }

  .QADocument {
    margin-top: 25px;

    textarea {
      margin-top: 10px;
    }
  }

  .QAQuestion {
    input {
      width: 100%;
      margin-top: 10px;
    }
  }

  .QAResponse {
    margin-top: 20px;

    div {
      @include response();
    }
  }

  .formActions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #f0f0f0;
      color: gray;
      font-weight: bold;
    }
  }
}
