@import "../../../styles/mixins.module.scss";

.DocumentSummary {
  .formGroup {
    margin-bottom: 15px;

    label {
      color: #714d3d;
      font-weight: 500;
      font-size: 15px;
    }

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: $fontSize;
    }
  }

  .DocSummaryDocument {
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea {
      width: 100%;
      height: 150px;
      border: 1px solid #321406;
      padding: 10px;
      font-size: $fontSize;
    }
  }

  .DocSummaryLength {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 50px;

    select {
      width: 200px;
      padding: 10px;
      font-size: 14px;
      height: 40px;
      appearance: none;
      border-radius: 0;
    }
  }

  .DocSummaryTraining {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;

    button {
      width: 20%;
      text-align: left;
      background: transparent;
      border: none;
      outline: none;
      margin-left: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      font-size: $textFontSize;
    }
  }

  .DocSummaryResponse {
    margin-top: 30px;

    div {
      @include response();
    }
  }

  .formActions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    button {
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      background-color: $grey;
      color: $white;
      font-size: $fontSize;
    }
  }
}
