@import "../../../styles/mixins.module.scss";

.SentimentAnalysis {
  .formGroup {
    margin-bottom: 15px;

    label {
      color: #714d3d;
      font-weight: 500;
      font-size: 15px;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      padding: 10px;
      background-color: #f0f0f0;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .SentAnalysDocument {
    display: flex;
    flex-direction: column;
    gap: 15px;

    textarea {
      width: 100%;
      height: 150px;
      border: 1px solid #321406;
      padding: 10px;
    }
  }

  .SentAnalysTraining {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;

    button {
      width: 20%;
      text-align: left;
      background: transparent;
      border: none;
      outline: none;
      margin-left: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
    }
  }

  .formActions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    button {
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      background-color: #f0f0f0;
      color: gray;
    }
  }

  .SentAnalysResponse {
    margin-top: 30px;

    div {
      @include response();
    }
  }
}
